/* Base Application Styles */
body {
  background-color: red;
}

.content{
    width:100%;
    height:100%;
}
/* stage -start*/
.stage{
    position:relative;
    width:100%;
    height:680px;
}

.img-sec{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#ddd;
}

.controller-nav{
    position:absolute;
    left:0;
    bottom:30px;
    z-index:101;
    height:30px;
    width:100%;

    background:pink;
}